@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  margin: 0;
  font-family:"Poppins" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo_cmpName{
  display: flex;
  justify-content: space-around;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family:'Poppins';
  margin-left: 2rem;
}
.logo_cmpName img{
  height: 39px;
  width: 39px;
  margin-top: 5px;
  margin-right: 5px;

}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slider img{
  height: 23rem;
  width: 65rem;
  border-radius: 20px;
}
img{
  border-style: none !important
}
.head{
  text-align: center;
}
.login_div{
  display: flex;
}
.imgauth img{
  margin-top: 1rem;
  height: 25rem;
  margin-right: 10rem;
}