body{
    background-color: rgb(179, 235, 127);
}
.bg{
    background: #047BD5 !important;
}
nav a{
    color:white!important;
    border-bottom: none !important;
}
.btnr{
    color: red !important;
}
.btnb{
    color: blueviolet !important;
}
.border{
    border: none !important;
}
.product_div{
    display: flex;
    width: 100%;
    margin: auto;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.card{
    height: 18rem !important;
    width: 10rem !important;
}