body{
    background-color: rgb(220, 230, 211);
}
.bg{
    background: #047BD5 !important;
}
nav a{
    color:white!important;
    border-bottom: none !important;
}
.btnr{
    color: red !important;
}
.btnb{
    color: blueviolet !important;
}
.border{
    border: none !important;
}
/* .card{
    height: 18rem !important;
    width: 8rem !important;
} */